$dark-blue-1: #172641;
$dark-blue-2: #0a304e;
$dark-blue-3: #1c2c4a;
$blue-1: #17acc4;
$blue-2: #15678d;
$blue-3: #20446c;
$green-1: #2b6a3e;
$green-2: #8fb32b;
$green-3: #53bd63;
$light-purple: #c89fc6;
$fuschia-pink: #c5498b;
$burgundy-red: #842e38;
$light-orange: #fa8c36;
$pale-yellow: #fbeb65;
$light-grey: #f3f3f3;
