.contact {
  background-color: gold;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
}
.contact h2 {
  color: blueviolet;
}

.contact p {
  color: black;
  justify-content: center;
}
